* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html,
body {
	height: 100vh;
	overflow-x:hidden;

}

#home {
	background: #ffc107;
	color: white;
	height: 100vh;
}

/* ##SECTION */

.boxSection {
	padding: 60px 0px;

	border-bottom: 1px solid #e5e5e5;
}

/* FOOTER */
footer nav a {
	color: rgb(22, 120, 247);
}

footer a {
	color: black;
}
